/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
*.idea
.git
node_modules/
/vendor/
/phpunit-6.0.11.phar
/app/cache/prod/